{% extends "layout.html" %}

{% block body %}
    <h1>
        Tervetuloa jääkiekkotulospalveluun!
    </h1>

    {% if standings is defined %}
        <h2>Standings</h2>
        <table>
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="80">
            <col width="130">
            <col width="130">
            <col width="130">
            <col width="80">
            <thead>
            <tr>
                <td>Team</td>
                <td>Games</td>
                <td>Wins</td>
                <td>Losses</td>
                <td>Ties</td>
                <td>Goals for</td>
                <td>Goals against</td>
                <td>Goal difference</td>
                <td>Score</td>
            </tr>
            </thead>
            {% for standing in standings %}
                <tr>
                    <td>
                        {{ standing.name }}
                    </td>
                    <td>
                        {{ standing.game_count }}
                    </td>
                    <td>
                        {{ standing.win }}
                    </td>
                    <td>
                        {{ standing.loss }}
                    </td>
                    <td>
                        {{ standing.tie }}
                    </td>
                    <td>
                        {{ standing.goals_for }}
                    </td>
                    <td>
                        {{ standing.goals_against }}
                    </td>
                    <td>
                        {{ standing.goal_difference }}
                    </td>
                    <td>
                        {{ standing.points }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    {% if current_user.is_authenticated %}
        <h2>My Game List</h2>
        <ul>
            {% for game in usergames %}
                <li>
                    <a href="{{ url_for('game_page', game_id = game.game_id ) }}">
                        {{ game.home_name }}
                        - {{ game.guest_name }}, {{ game.time }}, {{ game.place }}, {{ game.status }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
