{% extends "layout.html" %}

{% block body %}
    <a href="{{ url_for('teams_form') }}">Add a team</a>
    <div>
        <div class="row">
            <div class="col-2">Team name</div>
            <div class="col-2">City</div>
        </div>
        {% for team in teams %}
            <div class="row">
                <div class="col-2">
                    <a href="{{ url_for('team_page', team_id= team.id) }}">
                        {{ team.name }}
                    </a>
                </div>
                <div class="col-2">{{ team.city }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}