{% extends "layout.html" %}

{% block body %}
    <div class="row">
        <h3>Team</h3>
    </div>
    <div class="row">
        {% if current_user.role == "ADMIN" %}
            <form method="POST" action="{{ url_for('team_page', team_id = team_id) }}">
                <div class="col-4">
                    {% include 'teams/team.html' %}
                    <div class="row">
                        <div class="col-4">
                            <input type="submit" value="Update team information"/>
                        </div>
                    </div>
                </div>
            </form>
        {% else %}
            <div class="col-8">
                <div class="row">
                    Team name: {{ team.name }}
                </div>
                <div class="row">
                    City: {{ team.city }}
                </div>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-4">
            {% if current_members is defined %}
                <h3>Players</h3>
                <ul>
                    {% for player in current_members %}
                        <li>
                            {{ player.lastname }}, {{ player.firstname }} {{ player.number }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    {% if current_user.role == "ADMIN" %}
        <div class="row">
            <div class="col-4">
                <form method="POST" action="{{ url_for('team_delete', team_id = team_id) }}">
                    <input type="submit" value="Delete team"/>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}