{% extends "layout.html" %}

{% block body %}
    <h3>Modify team</h3>
    <form method="POST" action="{{ url_for('team_page', team_id = team_id) }}">
        <table>
            <tr>
                <td>
                    {{ form.name.label }}
                </td>
                <td>
                    {{ form.name }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.city.label }}
                </td>
                <td>
                    {{ form.city }}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Update team information"/>
                </td>
            </tr>
        </table>
    </form>
    <form method="POST" action="{{ url_for('team_delete', team_id = team_id) }}">
        <input type="submit" value="Delete team"/>
    </form>

    {% if current_members is defined %}
        <h3>Players</h3>

        <ul>
            {% for player in current_members %}
                <li>
                    {{ player.lastname }}, {{ player.firstname }} {{ player.number }}
                </li>
            {% endfor %}
        </ul>

    {% endif %}
{% endblock %}