{% extends "layout.html" %}

{% block body %}
    <a href="{{ url_for('players_form') }}">Add a player</a>
    <div>
        <div class="row">
            <div class="col-2"><b>Player name</b></div>
            <div class="col-2"><b>Player number</b></div>
        </div>

        {% for player in players %}
            <a href="{{ url_for('player_page', player_id= player.id) }}">
                <div class="row">
                    <div class="col-2">
                        {{ player.lastname }}, {{ player.firstname }}
                    </div>
                    <div class="col-2">
                        {{ player.number }}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}