{% extends "layout.html" %}

{% block body %}
    <table>
        <tr>
            <th>Player name</th>
            <th>Player number</th>
        </tr>
        {% for player in players %}
            <tr>
                <td>
                    <a href="{{ url_for('player_page', player_id= player.id) }}">
                        {{ player.lastname }}, {{ player.firstname }}
                    </a>
                </td>
                <td>{{ player.number }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}