{% extends "layout.html" %}

{% block body %}
    <div class="row">
        <h3>Player</h3>
    </div>
    <form method="POST" action="{{ url_for('players_create') }}">
        <div class="row">
            <div class="col-4">
                {% include 'players/player_basic_info.html' %}
                <div class="row">
                    <div class="col-6">
                        <input type="submit" name="create_player" value="Add a new player"/>
                    </div>
                </div>
            </div>
            <div class="col-8">
                {% include 'players/player_memberships.html' %}
            </div>
        </div>
    </form>
{% endblock %}