{% extends "layout.html" %}

{% block body %}
    <form method="POST" action="{{ url_for('players_create') }}">
        <table>
            <tr>
                <td>
                    {{ form.firstname.label }}
                </td>
                <td>
                    {{ form.firstname }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.lastname.label }}
                </td>
                <td>
                    {{ form.lastname }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.number.label }}
                </td>
                <td>
                    {{ form.number }}
                </td>
            </tr>
            {% for membership in form.memberships %}
                <tr>
                    <td>
                        {{ membership.membership_start.label }}
                    </td>
                    <td>
                        {{ membership.membership_start }}
                    </td>
                    <td>
                        {{ membership.team_id.label }}
                    </td>
                    <td>
                        {{ membership.team_id }}
                    </td>
                    <td>
                        {{ membership.membership_end.label }}
                    </td>
                    <td>
                        {{ membership.membership_end }}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="2">
                    <input type="submit" name="add_membership" value="Add membership"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" name="create_player" value="Add a new player"/>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}