<h3>Basic information</h3>
<div class="row">
    <div class="col-6">
        {{ form.firstname.label }}
    </div>
    <div class="col-6">
        {{ form.firstname(size=15) }}
    </div>
</div>
<div class="row">
    <div class="col-6">
        {{ form.lastname.label }}
    </div>
    <div class="col-6">
        {{ form.lastname(size=15) }}
    </div>
</div>
<div class="row">
    <div class="col-6">
        {{ form.number.label }}
    </div>
    <div class="col-6">
        {{ form.number(size=15) }}
    </div>
</div>