{% extends "layout.html" %}

{% block body %}
    <h3>Modify player</h3>
    <form method="POST" action="{{ url_for('player_page', player_id = player_id) }}">
        <table>
            <tr>
                <td>
                    {{ form.firstname.label }}
                </td>
                <td>
                    {{ form.firstname }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.lastname.label }}
                </td>
                <td>
                    {{ form.lastname }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.number.label }}
                </td>
                <td>
                    {{ form.number }}
                </td>
            </tr>
            {% for membership in form.memberships %}
                <tr>
                    <td>
                        {{ membership.membership_start.label }}
                    </td>
                    <td>
                        {{ membership.membership_start }}
                    </td>
                    <td>
                        {{ membership.team_id.label }}
                    </td>
                    <td>
                        {{ membership.team_id }}
                    </td>
                    <td>
                        {{ membership.membership_end.label }}
                    </td>
                    <td>
                        {{ membership.membership_end }}
                    </td>
                    <td>
                        {{ membership.membership_id }}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="2">
                    <input type="submit" name="add_membership" value="Add membership"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" name="update_player" value="Update player information"/>
                </td>
            </tr>
        </table>
    </form>
    <form method="POST" action="{{ url_for('player_delete', player_id = player_id) }}">
        <input type="submit" value="Delete player"/>
        <p>Delete carefully</p>
    </form>
{% endblock %}