{% extends "layout.html" %}

{% block body %}
    <div class="row">
        <h3>Player</h3>
    </div>
    <form method="POST" action="{{ url_for('player_page', player_id = player_id) }}">
        <div class="row">
            <div class="col-4">
                {% include 'players/player_basic_info.html' %}
                <div class="row">
                    <div class="col-6">
                        <input type="submit" name="update_player" value="Update player information"/>
                    </div>
                </div>
            </div>
            <div class="col-8">
                {% include 'players/player_memberships.html' %}
            </div>
        </div>
    </form>
    <div class="row">
        <form method="POST" action="{{ url_for('player_delete', player_id = player_id) }}">
            <input type="submit" value="Delete player"/>
            <p>Delete carefully</p>
        </form>
    </div>
{% endblock %}