{% extends "layout.html" %}

{% block body %}
    <a href="{{ url_for('games_form') }}">Add a game</a>
    <table>
        <tr>
            <th>Home Team</th>
            <th>Guest Team</th>
            <th>Time</th>
            <th>Place</th>
        </tr>
        {% for game in games %}
            <tr>
                <td>
                    {{ game.home_team.name }}
                </td>
                <td>{{ game.guest_team.name }}</td>
                <td>{{ game.time }}</td>
                <td>{{ game.place }}</td>
                <td><a href="{{ url_for('game_page', game_id = game.id ) }}">Modify</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}