{% extends "layout.html" %}

{% block body %}
    <div class="row">
        <div class="col-4">
            <form method="POST" action="{{ url_for('games_create') }}">
                {% include 'games/game_basic_information.html' %}
                <div class="row">
                    <div class="col-6">
                        <input type="submit" name="create_game" value="Add a new game"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}