{% extends "layout.html" %}

{% block body %}
    <div class="row">
        <div class="col-4">
            <h3>Modify game</h3>
            <form method="POST" action="{{ url_for('game_page', game_id = game_id) }}">
                <div class="row">
                    <div class="col-6">
                        {{ form.home_id.label }}
                    </div>
                    <div class="col-6">
                        {{ form.home_id }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        {{ form.guest_id.label }}
                    </div>
                    <div class="col-6">
                        {{ form.guest_id }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        {{ form.time.label }}
                    </div>
                    <div class="col-6">
                        {{ form.time }}
                    </div>
                </div>
                {% if game_status=='SCHEDULED' %}
                    <div class="row">
                        <div class="col-6">
                            <input type="submit" name="update_game" value="Update game information"/>
                        </div>
                        <div class="col-6">
                            <input type="submit" name="confirm_game" value="Confirm game information"/>
                        </div>
                    </div>
                {% endif %}
            </form>
        </div>
        {% if game_status!='SCHEDULED' %}
            <div class="col-8">
                <form method="POST" action="{{ url_for('game_page', game_id = game_id) }}">
                    <div class="row">
                        <div class="col-6">
                            <h3>Home team lineup</h3>
                            {% for lineup_entry in game_lineup_form.home_lineup.lineup_entries %}
                                <div class="row">
                                    <div class="col-6">
                                        {{ lineup_entry.membership_id.label }}
                                    </div>
                                    <div class="col-6">
                                        {{ lineup_entry.membership_id }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-6">
                            <h3>Guest team lineup</h3>
                            {% for lineup_entry in game_lineup_form.guest_lineup.lineup_entries %}
                                <div class="row">
                                    <div class="col-6">
                                        {{ lineup_entry.membership_id.label }}
                                    </div>
                                    <div class="col-6">
                                        {{ lineup_entry.membership_id }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if game_status == 'STARTING' %}
                        <div class="row">
                            <input type="submit" name="confirm_lineup" value="Confirm game lineup"/>
                        </div>
                    {% endif %}
                </form>
            </div>
        {% endif %}
    </div>
    <form method="POST" action="{{ url_for('game_delete', game_id = game_id) }}">
        <input type="submit" value="Delete game"/>
    </form>

    <div class="row">
        {% if home_team_goals is defined %}
            <div class="col-6">
                <h3>Home team goals</h3>
                {% if game_status == 'ONGOING' %}
                    <form method="POST" action="{{ url_for('game_page', game_id = game_id) }}">
                        <div class="row">

                            <div class="col-2">
                                {{ home_goals_form.scorer_id.label }}
                            </div>
                            <div class="col-2">
                                {{ home_goals_form.scorer_id }}
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-2">
                                {{ home_goals_form.time.label }}
                            </div>
                            <div class="col-2">
                                {{ home_goals_form.time }}
                            </div>
                            <div>
                                {{ home_goals_form.team_id }}
                            </div>
                        </div>
                        <input type="submit" name="add_goal" value="Add goal"/>
                    </form>
                {% endif %}
                <ul>
                    {% for goal in home_team_goals %}
                        <li>
                            {{ goal.lastname }}, {{ goal.firstname }}, {{ goal.number }}, {{ goal.time }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if guest_team_goals is defined %}
            <div class="col-6">
                <h3>Guest team goals</h3>
                {% if game_status == 'ONGOING' %}
                    <form method="POST" action="{{ url_for('game_page', game_id = game_id) }}">
                        <div class="row">

                            <div class="col-2">
                                {{ guest_goals_form.scorer_id.label }}
                            </div>
                            <div class="col-2">
                                {{ guest_goals_form.scorer_id }}
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-2">
                                {{ guest_goals_form.time.label }}
                            </div>
                            <div class="col-2">
                                {{ guest_goals_form.time }}
                            </div>
                            <div>
                                {{ guest_goals_form.team_id }}
                            </div>
                        </div>
                        <input type="submit" name="add_goal" value="Add goal"/>
                    </form>
                {% endif %}
                <ul>
                    {% for goal in guest_team_goals %}
                        <li>
                            {{ goal.lastname }}, {{ goal.firstname }}, {{ goal.number }}, {{ goal.time }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <form method="POST" action="{{ url_for('finish_game', game_id = game_id) }}">
        <input type="submit" value="Finish game"/>
    </form>
{% endblock %}